body, html {
  height: 100%;
}


#root {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}


#bd, #root {
  background: url("../img/content.gif") scroll repeat-y 230px 0 #eaeaea;
}



header {
  padding-bottom: 20px;
  background: url("../img/header.gif") scroll no-repeat 230px bottom #eaeaea;
}


body.hide-left {
  background-position: -6px bottom;
}


body.admin-menu header {
  padding-top: 21px;
}


footer {
  bottom: 0;
  width: 100%;
  background: url("../img/header.gif") scroll no-repeat 230px top #eaeaea;
  position: absolute;
}

footer .content {
  background: url("../img/separator.gif") 0 20px repeat-x;
  padding: 30px 15px 0 15px;
  font: 85%/1.2 'Tahoma', sans-serif;
}
footer .content .f-left, footer .content .f-right {
  margin-bottom: 0;
}


#footer-space, footer {
  height: 70px;
}



#left {
  float: left;
  width: 215px;
  margin-right: 20px;
}

#left .block .content ul {
  padding: 0;
  list-style: none;
}
#left .block .content ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
#left .block .content ul a {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #cfcfcf;
  color: #303030;
  padding: 3px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.ie6 #left .block .content ul a, body.ie7 #left .block .content ul a {
  behavior: url('/sites/default/themes/adminiziolite/js/box-sizing.htc');
}
#left .block .content ul a:active, #left .block .content ul a:hover {
  color: #df0000;
}
#left .block .content ul li.expanded a {
  padding: 3px 30px;
  background-position: 15px 7px;
}
#left .block .content ul li.expanded li.expanded a {
  padding: 3px 45px;
  background-position: 30px 7px;
}
#left .block .content ul li.expanded li.expanded li.expanded a {
  padding: 3px 60px;
  background-position: 45px 7px;
}
#left .block .content ul li.expanded li.expanded li.expanded li.expanded a {
  padding: 3px 75px;
  background-position: 60px 7px;
}
#left .block .content ul li.expanded li.expanded li.expanded li.expanded li.expanded a {
  padding: 3px 90px;
  background-position: 75px 7px;
}
#left .block .content ul li.expanded li.expanded li.expanded li.expanded li.expanded li.expanded a {
  padding: 3px 105px;
  background-position: 90px 7px;
}
#left .block .content ul li.expanded li.expanded li.expanded li.expanded li.expanded li.expanded li.expanded a {
  padding: 3px 120px;
  background-position: 105px 7px;
}
#left .block .content ul li.expanded li.expanded li.expanded li.expanded li.expanded li.expanded li.expanded li.expanded a {
  padding: 3px 135px;
  background-position: 120px 7px;
}
#left .block .content ul li.expanded li.expanded li.expanded li.expanded li.expanded li.expanded li.expanded li.expanded li.expanded a {
  padding: 3px 150px;
  background-position: 135px 7px;
}
#left .block .content ul li.active-trail a {
  background-color: white;
  background-repeat: no-repeat;
  background-image: url("../img/submenu-sub.gif");
}
#left .block .content ul li.active-trail a.active {
  background-color: #df0000;
  background-image: url("../img/submenu-active.gif");
  background-position: 100% 50% !important;
  width: 228px;
  border-bottom-style: none;
  font-weight: bold;
}
#left .block .content ul li.active-trail a.active, #left .block .content ul li.active-trail a.active:active, #left .block .content ul li.active-trail a.active:hover {
  color: white;
}

#left #search-theme-form .form-content {
  padding-left: 15px;
}


#main {
  margin-left: 235px;
  padding: 15px;
  overflow: hidden;
}


.item-list .pager {
  clear: both;
  text-align: right;
  padding: 7px;
  margin: 15px 0;
}
.item-list .pager li {
  margin: 0 0 0 7px;
  list-style-type: none;
  list-style-image: none;
  display: inline;
  background-image: none;
  padding: 7px;
}
.item-list .pager li, .item-list .pager li a {
  color: #0085cc;
}
.item-list .pager li.first {
  margin-left: 0;
}
.item-list .pager li.pager-current {
  font-weight: bold;
  color: white;
  background-color: #df0000;
}


