/* =============================================================================
============================================================================= */
.f-left {float:left !important;}
.f-right {float:right !important;}
.t-left {text-align:left !important;}

/* =============================================================================
HTML - styles
============================================================================= */
body {font:0.8em/1.5 'Arial', sans-serif; margin: 0; padding: 0;background-color:#eaeaea; color:#303030;}
h1 {font-size:180%;}
h2 {font-size:160%;color:#0085cc;}
h3 {font-size:140%;}
h4 {font-size:120%;}
h5, h6 {font-size:100%;}
ul li {list-style-image: url("../img/ul.gif");}
ul ul {margin-top: 0; margin-bottom: 0;}
ul ul li {list-style-image: url("../img/ul-ul.gif");}
ol {list-style-type:decimal;}
ol ol {margin-top: 0; margin-bottom: 0;}
ol ol li {list-style-type:lower-alpha;}
dl {clear:both;}
dl dt {font-weight:bold;color:#df0000;}
a {color:#0085cc;}
a:hover, a:active, a:focus {color:#df0000;}
acronym, abbr{border-bottom:1px dotted #cfcfcf;}

/* =============================================================================
LAYOUT
============================================================================= */
#col1-switcher, #col2-switcher{cursor: pointer;}
body.sidebar-left #col2-switcher{display: none;}
body.no-sidebar #col1-switcher{display: none;}
#tray {padding:12px 15px; background:url("../img/tray.gif") 0 0 repeat-x; font:85%/1.2 "tahoma",sans-serif;}
#tray p {margin:0;}
#tray p.f-left {width:50%;}
#tray #logout, #tray #login {padding-left:18px; background:url("../img/tray-logout.gif") 0 50% no-repeat; text-transform:uppercase;}
#tray #switcher {margin-right:15px;}
#tray #switcher img {float:left; width:16px; height:16px; border:0;}
#search-theme-form fieldset{margin-top: 0;}
#search-theme-form table, #search-theme-form .form-item{margin: 0;}
#search-theme-form td{padding-top: 0; padding-left: 0;}
#search-theme-form td.last{padding-right: 0}
#menu {padding:15px 15px 13px 15px; background:url("../img/menu.gif") 0 0 repeat-x;}
#menu ul {margin:0; padding:0; list-style-type:none;}
#menu ul li {display:inline; margin:0; padding:0;}
#menu ul li a {float:left; margin-right:5px; padding-left:5px; background:url("../img/menu-left.gif") 0 0 no-repeat; text-decoration:none;}
#menu ul li a span {float:left; display:block; padding:7px 15px 9px 8px; background:url("../img/menu-right.gif") 100% 0 no-repeat;}
#menu ul li a:hover, #menu ul li.active a {background:url("../img/menu-left.gif") 0 -35px no-repeat;}
#menu ul li a:hover span, #menu ul li.active a span {background:url("../img/menu-right.gif") 100% -35px no-repeat;}
#menu ul li.active a {font-weight:bold;}
#content {padding:20px; overflow:hidden;}
#footer {clear:both; padding:15px; background:url("../img/separator.gif") 0 0 repeat-x; font:85%/1.2 "tahoma",sans-serif;}
#footer p {margin:0;}
#tray {background-color:#303030; color:#cfcfcf;}
#tray a, #tray strong {color:#fff;}
#tray a:hover, #tray a:active, #tray a:focus {color:#b4e3ff;}
#menu {background-color:#0085cc;}
#menu ul li a {background-color:#fff; color:#303030;}
#menu ul li a span {background-color:#FFF;}
#menu ul li a:hover, #menu ul li a:active, #menu ul li a:focus, #menu ul li#menu-active a {background-color:#FFF; color:#df0000;}
#menu ul li a:hover span, #menu ul li#menu-active a span {background-color:#FFF;}
#menu ul li#menu-active a {color:#0085cc;}
#menu ul.f-right a {color:#df0000;}
#content {border:1px solid #afafaf; background:#fff;}
#footer {color:#707070;}
#footer a {color:#707070;}
#footer a:hover, #footer a:active, #footer a:focus {color:#303030;}

/* =============================================================================
OTHERS
============================================================================= */
body.no-sidebar #bd, body.no-sidebar #root, body.no-sidebar footer{background-position: -6px 0;}
body.no-sidebar header{background-position: -6px bottom; }
body.no-sidebar #left{display: none;}
body.no-sidebar #main{margin-left: 0;}
#left .padding{padding-left:15px;}
#left #logo{padding-left:18px;margin-bottom: 15px;}
#left #logo img{display:block;width:200px;border:1px solid #bfbfbf;}
#left #btn-create{margin-bottom:15px;padding-left:15px;}
#left #btn-create a{float:left;padding-left:27px;height:37px;overflow:hidden;background:url("../img/btn-create-left.gif") 0 0 no-repeat;text-decoration:none;font-weight:bold;cursor:pointer;}
#left #btn-create a span{float:left;display:block;width:163px;padding:8px 0 10px 10px;background:url("../img/btn-create-right.gif") -2px 0 no-repeat;}
#left #btn-create a:hover{background-position:0 -37px;}
#page-title{padding:10px 15px; margin-top: 0; background:url("../img/content-h1.gif") 0 0 repeat-x; letter-spacing:-1px; color: #ffffff}
#tabs{margin:15px 0;}
#primary-tabs{margin:0;padding: 0;border-bottom:1px solid #cfcfcf;}
#primary-tabs li {display:inline; margin:0; padding:0; list-style: none;}
#primary-tabs a {color:#303030;float:left; margin-right:3px; padding-left:4px; background:url("../img/tabs-l.gif") 0 -100px no-repeat; text-decoration:none;}
#primary-tabs a span {color:#303030;float:left; display:block; padding:8px 15px 6px 11px; background:url("../img/tabs-r.gif") 100% -100px no-repeat;}
#primary-tabs a:hover span {text-decoration:underline;}
#primary-tabs .active a {color:#ffffff;background:url("../img/tabs-l.gif") 0 0 no-repeat; font-weight:bold;}
#primary-tabs .active a span {color:#fff;background:url("../img/tabs-r.gif") 100% 0 no-repeat;}
#primary-tabs .active a:hover, #primary-tabs .active a:hover span {text-decoration:none;}
#secondary-tabs{margin:0;padding:7px;background-color:#eaeaea;}
#secondary-tabs li{list-style-type: none;list-style-image: none;display: block;float: left;border: 1px solid #bebebe;margin-right: 7px;padding: 7px;background-color: #ffffff;}
#secondary-tabs li a{color:#303030;text-decoration: none;}
#secondary-tabs li a:hover{text-decoration: underline;}
#secondary-tabs li.active{background-color: #df0000;border-color: #df0000;font-weight: bold;}
#secondary-tabs li.active a{color: #ffffff;}
#secondary-tabs li.active a:hover{text-decoration: none;}