.block {
  margin: 0 0 15px 0;
}

.block .subject {
  padding: 7px 15px;
}
.block .subject h2 {
  margin: 0;
}


.block-region {
  margin: 15px 0;
  padding: 7px;
  border: 1px dotted black;
  background-color: white;
  text-align: center;
  font-weight: bold;
}


