.form-content .form-required, .form-content .tabledrag-changed {
  font-size: 128.1%;
  font-weight: bold;
}

.form-content .tabledrag-changed {
  margin: 0 3px;
}

.form-content .form-item {
  margin: 15px 0;
}
tr.even .form-content .form-item, tr.odd .form-content .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}
.form-content .form-item label {
  display: block;
  font-weight: bold;
}
.form-content .form-item label.option {
  display: inline;
  font-weight: normal;
  margin: 0;
}
.form-content .form-item label .form-required {
  color: #df0000;
}
.form-content .form-item .description {
  font-style: italic;
  font-size: 0.85em;
  color: #444444;
}
.form-content .form-item .tips {
  font-size: 0.9em;
  margin: 0;
}
.form-content .form-item .tips li {
  list-style-type: none;
  list-style-image: none;
}
.form-content .form-item .form-text, .form-content .form-item .form-textarea {
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.ie6 .form-content .form-item .form-text, body.ie6 .form-content .form-item .form-textarea, body.ie7 .form-content .form-item .form-text, body.ie7 .form-content .form-item .form-textarea {
  behavior: url('/sites/default/themes/adminiziolite/js/box-sizing.htc');
}
.form-content .form-item .form-select.error, .form-content .form-item .form-text.error, .form-content .form-item .form-textarea.error {
  border-color: #df0000;
  color: black;
  border-style: solid;
  border-width: 1px;
}

.form-content .form-checkboxes, .form-content .form-radios {
  margin: 7px 0;
}
.form-content .form-checkboxes .form-item, .form-content .form-radios .form-item {
  margin: 3px 0;
}
.form-content .form-checkboxes .form-item .form-radio, .form-content .form-radios .form-item .form-radio {
  margin: 0;
}


fieldset {
  position: relative;
  margin: 15px 0;
  padding: 7px 7px 0;
  border: 1px solid #cccccc;
}

fieldset legend {
  font-size: 120%;
  font-weight: bold;
  background-color: #0085cc;
  padding: 3px 7px;
  color: white;
}
fieldset legend a, fieldset legend a:active, fieldset legend a:focus, fieldset legend a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
fieldset legend.collapse-processed {
  padding-left: 0;
}


html.js fieldset.collapsible legend a {
  padding-left: 22px;
  background: url("../../img/arrow/expaned.png") scroll 5px 50% no-repeat transparent;
  display: block;
}
html.js fieldset.collapsible .fieldset-wrapper {
  overflow: auto;
}
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}
html.js fieldset.collapsed legend {
  display: block;
}
html.js fieldset.collapsed legend a {
  background-image: url("../../img/arrow/collapsed.png");
  background-position: 5px 50%;
}


* html.js fieldset.collapsed legend, * html.js fieldset.collapsed legend *, * html.js fieldset.collapsed table * {
  display: inline;
}


html.js fieldset.collapsible {
  position: relative;
}


/*
 * #user-admin-filter
 */
#user-admin-filter .multiselect {
  margin: 0;
}


/*
 * #block-add-block-form
 */
#block-add-block-form #edit-body-wrapper {
  margin-bottom: 0.5em;
}


/*
 * #node-form
 */
#node-form #field-image-items .warning {
  margin: 1em 0;
}

#node-form #edit-promote-wrapper, #node-form #edit-status-wrapper, #node-form #edit-sticky-wrapper {
  margin: 0.25em 0;
}

#node-form #edit-status-wrapper {
  margin-top: 1em;
}

#node-form #edit-sticky-wrapper {
  margin-bottom: 1em;
}


/*
 * #node-admin-filter
 */
#node-admin-filter fieldset ul {
  margin: 1em 0;
}
#node-admin-filter fieldset ul li {
  list-style-image: none;
  list-style-type: none;
}
#node-admin-filter fieldset ul li dl {
  margin: 0;
}


/*
 * #dblog-filter-form
 */
#dblog-filter-form #edit-severity-wrapper, #dblog-filter-form #edit-type-wrapper {
  padding-bottom: 0.5em;
}


/*
 * #comment-admin-overview
 */
#comment-admin-overview div.container-inline fieldset {
  padding-bottom: 0.5em;
}


/*
 * #path-admin-filter-form
 */
#path-admin-filter-form fieldset {
  padding-bottom: 0.5em;
}
#path-admin-filter-form fieldset .form-item {
  margin: 0;
}


/*
 * #node-admin-content
 */
#node-admin-content div .form-checkboxes {
  margin: 0;
}
#node-admin-content div .container-inline fieldset {
  padding-bottom: 0.5em;
}


/*
 * #edit-operation-wrapper
 */
#edit-operation-wrapper {
  margin: 0;
}


/*
 * #imagecache-ui-preset-form
 */
#imagecache-ui-preset-form div fieldset fieldset {
  margin-bottom: 0;
}
#imagecache-ui-preset-form div .form-item:last-child {
  margin-top: 2em;
  margin-bottom: 0;
}


/*
 * #locale-translate-seek-form
 */
#locale-translate-seek-form div #edit-string-wrapper {
  margin-top: 0;
}
#locale-translate-seek-form div fieldset {
  padding-bottom: 0.5em;
}


/*
 * #views-ui-list-views-form
 */
#views-ui-list-views-form > div:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}


#views-ui-list-views-form > div {
  display: inline-block;
}


* html #views-ui-list-views-form > div {
  height: 1%;
}


#views-ui-list-views-form > div {
  display: block;
}


#edit-action-wrapper {
  margin-top: 0;
  display: block;
}


/*
 * #content-field-overview-form, #content-display-overview-form
 */
#content-display-overview-form > div > div:first-child, #content-field-overview-form > div > div:first-child {
  margin-bottom: 15px;
  padding: 7px 7px 7px 37px;
  border: 1px solid #b8e2fb;
  color: black;
  background: url("../../img/ico-info.gif") scroll no-repeat 0.75em 0.5em #e8f6ff;
}


/*
 * #system-themes-form
 */
#system-themes-form table.sticky-enabled tbody tr td {
  vertical-align: middle;
}
#system-themes-form table.sticky-enabled tbody tr td:first-child {
  font-size: 0;
  line-height: 0;
}
#system-themes-form table.sticky-enabled tbody tr td .theme-info h2 {
  margin-top: 0;
}


/*
 * #system-performance-settings
 */
#system-performance-settings #edit-clear {
  margin-bottom: 7px;
}


/*
 * #system-modules
 */
#system-modules .package {
  margin-top: 0;
}


/*
 * #system-theme-settings
 */
#system-theme-settings .theme-settings-left .form-item, #system-theme-settings .theme-settings-right .form-item {
  margin: 7px 0;
}


/*
 * #node-configure
 */
#node-configure #edit-rebuild {
  margin-bottom: 7px;
}


/*
 * #block-add-block-form
 */
#block-add-block-form #edit-body-wrapper {
  margin-bottom: 0.5em;
}


/*
 * #block-admin-display-form
 */
#block-admin-display-form #blocks tbody tr.region {
  font-weight: bold;
}
#block-admin-display-form #blocks tbody tr.region-message {
  font-weight: normal;
  color: #999999;
}
#block-admin-display-form #blocks tbody tr.region-populated {
  display: none;
}
#block-admin-display-form #blocks tbody tr.region-empty {
  text-align: center;
}
#block-admin-display-form #blocks tbody tr.region-empty em {
  font-weight: bold;
}
#block-admin-display-form #blocks tbody tr td.block {
  border-style: none;
}


/*
 * table.system-status-report
 */
table.system-status-report {
  margin-bottom: 0;
}

table.system-status-report th {
  background-position: 7px 7px;
  background-repeat: no-repeat;
  border-bottom-style: none;
}

table.system-status-report tr.info {
  background-color: #e8f6ff;
  border-color: #b8e2fb;
  color: black;
}
table.system-status-report tr.info th {
  background-image: url("../../img/ico-info.gif");
}

table.system-status-report tr.ok {
  background-color: #eaf7d9;
  border-color: #bbdf8d;
  color: black;
}
table.system-status-report tr.ok th {
  background-image: url("../../img/ico-done.gif");
}

table.system-status-report tr.error {
  background-color: #feebeb;
  border-color: #ffaeae;
  color: black;
}
table.system-status-report tr.error th {
  background-image: url("../../img/ico-delete.gif");
}


