#help, #messages, form div.warning {
  margin: 15px 0;
}


#help, #messages .messages, .help-items, form div.warning {
  border: 2px solid transparent;
  margin: 15px 0;
  padding: 7px 7px 7px 30px;
  background: none scroll no-repeat 7px 7px transparent;
}


#messages .messages.error {
  background-color: #feebeb;
  border-color: #ffaeae;
  color: black;
  background-image: url("../../img/ico-delete.gif");
}


#messages .messages.status {
  background-color: #eaf7d9;
  border-color: #bbdf8d;
  color: black;
  background-image: url("../../img/ico-done.gif");
}


#messages .messages.warning, form div.warning {
  background-color: #fff5cc;
  border-color: #f2dd8c;
  color: black;
  background-image: url("../../img/ico-warning.gif");
}

#messages .messages.warning a, form div.warning a {
  color: #df0000;
}
#messages .messages.warning a:active, #messages .messages.warning a:focus, #messages .messages.warning a:hover, form div.warning a:active, form div.warning a:focus, form div.warning a:hover {
  color: #303030;
}


#messages .messages ul, .help-items ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}


/*
 * #help
 */
#help, .help-items {
  background-color: #e8f6ff;
  border-color: #b8e2fb;
  color: black;
  background-image: url("../../img/ico-info.gif");
}

#help p:last-child, .help-items p:last-child {
  margin-bottom: 0;
}

#help p:first-child, .help-items p:first-child {
  margin-top: 0;
}


.help-items {
  margin: 0 15px 15px 0;
}


