table {
  margin: 15px 0;
}



table thead th {
  background-color: #0085cc;
  border-bottom-style: none;
  font-weight: bold;
  text-align: left;
}
table thead th, table thead th a {
  color: white;
}




table tr.even {
  background-color: #e8f6ff;
  border-bottom: 1px solid #c6d4dd;
}
table tr.even td.active {
  background-color: #d7e5ee;
}
table tr.odd {
  background-color: white;
  border-bottom: 1px solid #dddddd;
}
table tr.odd td.active {
  background-color: #eeeeee;
}
table tr.drag {
  background-color: #fffff0;
}
table tr.drag-previous {
  background-color: #ffffdd;
}

table td, table th {
  padding: 7px;
}
table td.checkbox, table th.checkbox {
  text-align: center;
}

table th.active img {
  display: inline;
}

table.sticky-header {
  margin: 0;
}

table.sticky-enabled, table.sticky-header {
  width: 100%;
}

table.sticky-enabled tr.even .form-item, table.sticky-enabled tr.odd .form-item {
  margin: 0;
}


