div.update.checked {
  border: 1px solid #f2dd8c;
  padding: 7px;
  color: black;
  background-color: #fff5cc;
}


table.update {
  width: 100%;
}

table.update td {
  padding: 7px;
  border: 1px solid transparent;
  border-width: 1px 3px;
}

table.update .version-status {
  float: right;
  padding-right: 10px;
  font-size: 110%;
  height: 20px;
}
table.update .version-status .icon {
  padding-left: 7px;
}
table.update .version-status .icon img {
  vertical-align: middle;
}
table.update .version-status .security-error {
  font-weight: bold;
  color: #970f00;
}

table.update .versions .version {
  margin: 15px 0;
}
table.update .versions .version tbody {
  border: none;
}
table.update .versions .version.version-security .version-title {
  color: #970f00;
}
table.update .versions .version.version-recommended-strong .version-title {
  font-weight: bold;
}
table.update .versions .version td, table.update .versions .version tr {
  line-height: 0.9em;
  padding: 0;
  margin: 0;
  border: none;
}
table.update .versions .version .version-title {
  padding-left: 1em;
  width: 14em;
}
table.update .versions .version .version-details {
  padding-right: 0.5em;
}
table.update .versions .version .version-links {
  text-align: right;
  padding-right: 1em;
}
table.update .versions .version .version-links li {
  padding-left: 0;
  margin-left: 0;
}

table.update .project {
  font-weight: bold;
  font-size: 110%;
  height: 22px;
}

table.update .info {
  padding: 7px;
  border: 1px dotted black;
}
table.update .info .includes {
  font-weight: bold;
}
table.update .info .includes em {
  font-weight: normal;
}

table.update tr.error td {
  background-color: #feebeb;
  border-color: #ffaeae;
}
table.update tr.error .info {
  border-color: #ffaeae;
  color: black;
}

table.update tr.ok td {
  background-color: #eaf7d9;
  border-color: #bbdf8d;
}
table.update tr.ok .info {
  border-color: #bbdf8d;
  color: black;
}

table.update tr.warning td {
  background-color: #fff5cc;
  border-color: #f2dd8c;
}
table.update tr.warning .info {
  border-color: #f2dd8c;
  color: black;
}


