/*
 * YUI 3.4.1 (build 4118)
 * Copyright 2011 Yahoo! Inc. All rights reserved.
 * Licensed under the BSD License.
 * http://yuilibrary.com/license/
 */
/*
 * base.css, part of YUI's CSS Foundation
 */
h1 {
  font-size: 138.5%;
}


h2 {
  font-size: 123.1%;
}


h3 {
  font-size: 108%;
}


h1, h2, h3 {
  margin: 15px 0;
}


h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold;
}


abbr, acronym {
  border-bottom: 1px dotted black;
  cursor: help;
}


blockquote, dl, ol, ul {
  margin: 15px;
}


dl {
  margin-left: 15px;
}


ol, ul {
  margin-left: 30px;
}


ol {
  list-style: decimal outside;
}


ul {
  list-style: disc outside;
}


dl dd {
  margin-left: 15px;
}


em {
  font-style: italic;
}


th {
  font-weight: bold;
  text-align: center;
}


caption {
  margin-bottom: 7px;
  text-align: center;
}


fieldset, p, pre, table {
  margin-bottom: 7px;
}


