/*
 * YUI 3.4.1 (build 4118)
 * Copyright 2011 Yahoo! Inc. All rights reserved.
 * Licensed under the BSD License.
 * http://yuilibrary.com/license/
 */
/*
 * TODO will need to remove settings on HTML since we can't namespace it.
 * TODO with the prefix, should I group by selector or property for weight savings?
 */
html {
  color: black;
  background: white;
}


blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


fieldset, img {
  border: 0;
}


address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}


ol, ul {
  list-style: none;
}


caption, th {
  text-align: left;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}


q:after, q:before {
  content: '';
}


abbr, acronym {
  border: 0;
  font-variant: normal;
}


/*
 * to preserve line-height and selector appearance
 */
sup {
  vertical-align: text-top;
}


sub {
  vertical-align: text-bottom;
}


input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}


/*
 * to enable resizing for IE
 */
input, select, textarea {
  *font-size: 100%;
}


/*
 * because legend doesn't inherit in IE
 */
legend {
  color: black;
}


